.header {
  padding-top: 18px;
  padding-bottom: 18px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.headerMainPage {
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logoWrapper {
  position: relative;

}
