.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  z-index: 10;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
}

.authNav {
}
