.select_wrapper{
position: relative;
    display: inline-block;
}

.select {
   width: 100%;
    height: 40px;
    padding: 8px 48px 8px 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    margin-bottom: 40px;
   
}


.label{
    font-family: var(--font-nunito-sans);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        margin-bottom: 8px;
        
}


.category_name{
    font-family: var(--font-nunito-sans);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
}

@media screen and (min-width: 768px){
.label{
    display: none;
}

    .select {
        display: none;
    }
}


.buttonsWrapper {
    display: none;
}

@media screen and (min-width: 768px){
    .buttonsWrapper{
display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    }
}



.categoryBtn {
    background: transparent;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #555;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.categoryBtn:hover {
    color: #000;
}

.active {
    font-weight: 600;
    color: #000;
    background: #e8e8e8;
}