.our__travellers {
  padding: 64px 0;
}

.travellers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 48px;
}

.travellers__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.travellers__item {
  /* width: 335px; */
  width: 100%;
  min-width: 250px;
  padding: 24px;
  border-radius: 16px;
  background: #e8eeff;
}

.traveller__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 6px 12px;
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.traveller__btn__more {
  position: static;
  display: block;
  border: 1px solid #4169e1;
  border-radius: 8px;
  padding: 6px 12px;
  width: 158px;
  height: 48px;
  background: #4169e1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0 auto;
}

/* ======== BUTTON HOVER / FOCUS ======== */
.traveller__btn,
.traveller__btn__more {
  transition: all 0.3s ease;
}

.traveller__btn:hover,
.traveller__btn:focus {
  background: #4169e1;
  border: none;
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(59, 130, 246, 0.08);
}

.traveller__btn__more:hover,
.traveller__btn__more:focus {
  background: #e8eeff;
  color: #0a0a0a;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(59, 130, 246, 0.08);
  border: 1 solid #4169e1;
}

@media only screen and (min-width: 768px) {
  .travellers__title {
    font-size: 44px;
  }

  .travellers__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
  }

  .travellers__item {
    width: 340px;
  }

  .loadMoreWrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .loader {
    position: static;
  }
}

@media only screen and (min-width: 1440px) {
  .travellers__title {
    font-size: 52px;
  }

  .travellers__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .travellers__item {
    width: 310px;
  }

  .traveller__btn__more {
    width: 173px;
  }
}
