.our__travellers {
  padding: 64px 0;
}

.travellers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 48px;
}

.travellers__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 48px; /*перенести в таблет*/
}
.travellers__item {
  border-radius: 16px;
  padding: 24px;
  width: 335px;
  min-width: 250px;
  background: #e8eeff;
}

.traveller__name {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5; /*1.125*/
  margin-bottom: 16px;
  width: 287px;
}
.traveller__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.traveller__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding-block: 6px;
  padding-inline: 12px;
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .travellers__title {
    font-size: 44px;
  }

  .travellers__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .travellers__item {
    width: 340px;
  }

  .traveller__btn__more {
    position: static;
    display: block;
    border: 1px solid #4169e1;
    border-radius: 8px;
    padding-block: 6px;
    padding-inline: 12px;
    width: 156px;
    height: 48px;
    background: #4169e1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin: 0 auto;
  }

  .loadMoreWrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .loader {
    position: static;
  }
}

@media only screen and (min-width: 1440px) {
  .travellers__title {
    font-size: 52px;
  }
  .travellers__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .travellers__item {
    width: 310px;
  }
  .traveller__text {
    height: 100px;
  }
  .traveller__btn__more {
    width: 173px;
  }
}
