.travellerId {
  padding-top: 32px;
}

.containerTraveller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travellerContainer {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.travellerName {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
}

.travellerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.travellerContainer img {
  width: 199px;
  height: 199px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  margin: 0 auto 24px;
}
.travellerStories {
  width: 100%;
  text-align: left;
}
.travellerStoriesTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

/*storiesList*/
.storiesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
