.travellerId {
  padding-top: 32px;
}

.containerTraveller {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.travellerInfoWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  border-radius: 100%;
  width: 199px;
  height: 199px;
  margin-bottom: 24px;
}

.travellerContainer {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.travellerName {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.travellerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/*storiesList*/

.travellerStoriesTitle {
  align-self: flex-start;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 40px;
}

.travellerPageStoriesList {
  margin-bottom: 40px;
}

.myCustomBtnLoadMore {
  position: static;
  display: block;
  border: 1px solid #4169e1;
  border-radius: 8px;
  padding: 6px 12px;
  width: 335px;
  height: 48px;
  background: #4169e1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0 auto;
}

/* ======== BUTTON HOVER / FOCUS ======== */
.myCustomBtnLoadMore {
  transition: all 0.3s ease;
}

.myCustomBtnLoadMore:hover,
.myCustomBtnLoadMore:focus {
  background: #e8eeff;
  color: #0a0a0a;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(59, 130, 246, 0.08);
  border: 1 solid #4169e1;
}
.loadMoreWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
.loader {
  position: static;
}
@media only screen and (min-width: 768px) {
  .travellerInfoWraper {
    flex-direction: row;
    gap: 24px;
    align-self: flex-start;
    margin-bottom: 32px;
  }
  .image {
    margin-bottom: 0;
  }

  .wrapperContent {
    align-items: flex-start;
    gap: 0;
    margin-bottom: 0;
  }
  .travellerText {
    width: 480px;
    text-align: left;
  }
  .myCustomBtnLoadMore {
    width: 152px;
  }

  .travellerStoriesTitle {
    font-size: 44px;
  }
  .wrapperMessage {
    height: 185px;
    width: 533px;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1440px) {
  .travellerName {
    font-size: 32px;
  }
  .travellerText {
    font-size: 18px;
    width: 367px;
  }
  .travellerInfoWraper {
    margin-bottom: 48px;
  }

  .travellerStoriesTitle {
    font-size: 52px;
  }
  .wrapperMessage {
    height: 232px;
  }
}
