.button {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 6px 12px 6px 12px;
  border: 1px solid var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
  border-radius: var(--Radius-Small, 8px);
  background: var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
  color: var(--Color-White, rgba(255, 255, 255, 1));
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: left;
    transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.button:hover{
border: 1px solid var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
background: var(--Color-RoyalBlueLighter, rgba(232, 238, 255, 1));
color: var(--ColorScheme2-Text, rgba(0, 0, 0, 1));
}

.button:active{
border: 1px solid var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
background: var(--Color-RoyalBlueLight, rgba(122, 150, 234, 1));
color: var(--ColorScheme2-Text, rgba(0, 0, 0, 1));
}

.button:disabled{
border: 1px solid var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
background: var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
opacity: 0.3;
color: var(--Color-White, rgba(255, 255, 255, 1));
}


@media only screen and (min-width: 768px) {
  .storyDetails {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .button {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 6px 12px 6px 12px;
  border: 1px solid var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
  border-radius: var(--Radius-Small, 8px);
  background: var(--Color-RoyalBlue, rgba(65, 105, 225, 1));
  color: var(--Color-White, rgba(255, 255, 255, 1));
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: left;
    transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}
}