.container {
  padding: 32px 20px 64px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px 32px 64px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 48px 64px 72px 64px;
  }
}



.title {
  font-family: var(--font-sora);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  justify-content: center;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

.stories__footer {
  display: flex;
  justify-content: center;
}
  
  .stories__more {
    background: #4169e1;
    border: 1px solid #4169e1;
    color: #fff;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 48px;
    font-family: var(--font-nunito-sans);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 40px;
  }
    
  
  @media screen and (min-width: 1440px) {
      .stories__more {
        font-size: 18px;
      }
    }
    
    .stories__more:hover {
      background: #e8eeff;
      color: #0a0a0a;
      transform: translateY(-1px);
      box-shadow: 0 6px 12px rgba(59, 130, 246, 0.08);
      border: 1 solid #4169e1;
      font-family: var(--font-nunito-sans);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
    }






























/* .wrapper {
  width: 100%;
  text-align: center;
}


.moreBtn {
  display: block;
  margin: 0 auto;
} */
