.overlay {
  position: fixed;
  inset: 0;
  z-index: 7;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 500ms ease,
    backdrop-filter 500ms ease,
    background-color 500ms ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
  /* backdrop-filter: blur(12px) saturate(130%); */
  /* -webkit-backdrop-filter: blur(12px) saturate(130%); */
  background-color: rgba(0, 0, 0, 0.52);
  /* box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2); */
}
