.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.orText {
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 14px;
  color: var(--color-text-primary);
  opacity: 0.7;
  user-select: none;
}

.button {
  width: 100%;
  padding: 6px 12px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;

  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 16px;
  font-weight: 500;

  color: var(--color-text-inverse);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* hover/focus */
.button:hover,
.button:focus {
  outline: none;
  background-color: var(--color-primary-hover-first);
  border-color: var(--color-primary-hover-first);
  color: var(--color-text-primary);
  transform: translateY(-1px);
  box-shadow: 0 4px 12px var(--color-primary-active-first);
}

/* active */
.button:active {
  transform: translateY(0);
  background-color: var(--color-primary-active-first);
  border-color: var(--color-primary-active-first);
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  color: inherit;
}
