.tabsContainer {
  display: flex;
  gap: 0;
  width: 100%;
  max-width: 100%;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0);

  background-color: #e8eeff;
  border-radius: 10px;
  padding: 4px;
  overflow: hidden;
}

.tab {
  flex: 1;
  border-radius: 8px;
  padding: 4px 12px;
  /* width: 163px; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0);

  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab:hover {
  color: #4169e1;
}

.tabActive {
  color: var(--color-text-primary);
  background-color: #f7f9ff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
