.formWrapper {
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-text-primary);
  margin-bottom: 24px;
  text-align: center;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
  margin-bottom: 32px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  font-family: var(--font-nunito-sans), sans-serif;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.input::placeholder {
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: none;
}

.input:disabled {
  background-color: var(--color-text-secondary);
  opacity: 0.3;
  cursor: not-allowed;
}

.inputError {
  border-color: var(--color-error);
  color: var(--color-error);
}

.inputError:focus {
  border-color: var(--color-error);
  box-shadow: none;
}

.error {
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-error);
}

.inputError::placeholder {
  color: var(--color-error);
}

.inputValid {
  border-color: var(--color-border);
}

.submitButton {
  width: 100%;
  padding: 6px 12px;
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-inverse);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  transition: all 0.3s ease;
  height: 44px;
}

.submitButton:hover:not(:disabled),
.submitButton:focus:not(:disabled) {
  background-color: var(--color-primary-hover-first);
  transform: translateY(-1px);
  color: var(--color-text-primary);
  box-shadow: 0 4px 12px var(--color-primary-active-first);
}

.submitButton:active:not(:disabled) {
  transform: translateY(0);
  color: var(--color-text-primary);
  background-color: var(--color-primary-active-first);
}

.submitButton:disabled,
.submitButton:disabled:hover {
  background-color: var(--color-primary);
  opacity: 0.3;
  border-color: transparent;
  color: var(--color-text-inverse);
  cursor: not-allowed;
  transform: none;
}

/* Tablet */
@media (min-width: 768px) {
  .formWrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .title {
    font-size: 44px;
  }

  .input {
    font-size: 16px;
  }

  .input::placeholder {
    font-size: 16px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .formWrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  .title {
    font-size: 52px;
  }

  .subtitle {
    font-size: 20px;
  }

  .label {
    font-size: 18px;
  }

  .input {
    font-size: 18px;
    height: 43px;
  }

  .input::placeholder {
    font-size: 18px;
  }
}
