.stories__footer {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    display: none;
}

.stories__more {
    background: var(--primary);
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 12px 28px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}



.stories__more:hover {
    background: #E8EEFF;
    color: #0a0a0a;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(59, 130, 246, 0.08);
    border-color: #4169e1;
}

@media screen and (min-width: 768px) {
    .stories__footer {
        display: flex;
    }
}